{# http://www.scribd.com/doc/265680/Best-Practices-For-Form-Design #}
<script>
$(function(){
    $('form.ui-djangoForm').djangoForm({
        fields: {% render_ajax_fields form %},
        validation_events: ['blur'],
        add_required_indicators: true,
        smart_field_width: true
    });
});
</script>
<style>
.ui-djangoForm {
    width:500px;
    margin:20px;
}
/* form.as_p */
.ui-djangoForm p {}
.ui-djangoForm p label {
    display:block;
}
/* form.as_ul */
.ui-djangoForm ul {
    margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; font-size: 100%; list-style: none;
}
    .ui-djangoForm ul li {
        margin: 0; border: 0; outline: 0; line-height: 1.3; font-size: 100%; list-style: none;
        border-bottom:1px solid #ddd;
        padding: 8px 0;
    }
        .ui-djangoForm ul li label {
            display:block;
            float:left;
            width:130px;
            font-size:80%;
            margin-top:4px;
        }

    .ui-djangoForm ul li.ui-djangoForm-action {
        text-align:right;
        background:#f4f4f4;
        border:1px solid #ddd;
        border-width:0 1px 1px 1px;
        padding:8px;
    }

/* form.as_table */
.ui-djangoForm table {}
.ui-djangoForm table th {
    margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; font-size: 100%;
    text-align:right;
    font-weight:normal;
}
</style>
<form class="ui-djangoForm" method="post" action="">
    {% if message %}
    <p class="ui-djangoForm-message">{{ message }}</p>
    {% endif %}
    <ul>
        {{ form.as_ul }}
        <li class="ui-djangoForm-action">
            <input type="submit" value="Save" />
        </li>
    </ul>
</form>

<form class="ui-djangoForm" method="post" action="">
    {% if message %}
    <p class="ui-djangoForm-message">{{ message }}</p>
    {% endif %}
    {{ form.as_p }}
    <p class="ui-djangoForm-action">
        <input type="submit" value="Save" />
    </p>
</form>

<form class="ui-djangoForm" method="post" action="">
    {% if message %}
    <p class="ui-djangoForm-message">{{ message }}</p>
    {% endif %}
    <table cellpadding="0" cellspacing="0">
        {{ form.as_table }}
        <tr>
            <th class="ui-djangoForm-action" colspan="2">
                <input type="submit" value="Save" />
            </th>
        </tr>
</form>
