/* global styles */
html {
    font-family:arial,helvetica,clean,sans-serif;
}
body {
    margin:0;
    padding:0;
}
a {
    color:#236;
}
table {
    margin:10px 40px;
}
table td {
    vertical-align:top;
}
table.nav td {
    padding:0 20px;
    font-size:.8em;
}
table.nav td ul {
    padding:0!important;
}
table.nav td ul li {
    color:#666;
    margin-left:20px!important;
}
table.nav td.border {
    border-left:1px solid #ccc;
}
/* top frame */
body#top {
    background:#333 url(side_top.jpg) repeat-x 0 0;
}
h1#logo {
    margin:0;
    padding:0;
    height:32px;
    width:172px;
    background:transparent url(logo_jquery-utils.jpg) no-repeat 0 0;
}
h1#logo span { display:none; }

/* nav frame */

body#nav {
    background:#cee9f4 url(side_top.jpg) repeat-x 0 -35px;
}
body#nav ul {
    list-style:none;
    margin:0;
    padding:0;
    padding:20px 10px;
}

/* content */

#body pre {
    margin:10px 40px;
    padding:20px 40px;
    background:#eee;
    border:1px solid #ddd;
    float:none!important;
}
#body h2 {
    margin:20px 40px;
    color:#333;
    font-weight:normal;
    font-size:240%;
}
#body h3 {
    margin:30px 40px 0 40px;
    color:#666;
    font-weight:normal;
}
#body hr {
    margin:10px 40px;
    color:#999;
}

#body ul li {
    list-style:square;
    margin-left:30px;
}

#body .demo,
#body p {
    margin:20px 40px
}

/* credits */
.copyright,
.license {
    margin:0 40px 0 40px;
    color:#666;
    font-size:.8em;
}

/* forms */

ul.form {}
ul.form li {
    list-style:none!important;
}
ul.form li label {
    display:block;
    font-size:80%;
    color:#999;
}
ul.form li input {
    color:#666;
    padding-top:4px;
}

table.list {}
table.list thead {}
table.list thead th {
    background:#eee;
    color:#666;
    font-size:.6em;
    text-align:left;
    font-size:normal!important;
    padding:4px 8px;
}
table.list tbody th {
    font-size:normal!important;
    padding:4px 8px;
    color:#666;
    text-align:left;
    border-right:1px solid #eee;
    font-size:.8em;
}
table.list tbody td {
    padding:4px 8px;
    font-size:.8em;
}


.related-links {
    background:#eee;
    padding:#666;
    display:block;
    margin:6px 40px;
    padding:20px;
}
.related-links.documentation {
    background:#e8ffaf;
    color:#313f27;

}
