.ui-djangoForm {
    width:500px;
    margin:20px;
}
/* form.as_p */
.ui-djangoForm p {
    margin: 0 0 8px 0; padding: 0; border: 0; outline: 0; line-height: 1.3; font-size: 100%; list-style: none;

}
.ui-djangoForm p label {
    display:block;
}
.ui-djangoForm p label {
    font-size:80%;
}
.ui-djangoForm p.ui-djangoForm-action {
    text-align:right;
    background:#f4f4f4;
    border:1px solid #ddd;
    padding:8px;
}
/* form.as_ul */
.ui-djangoForm ul {
    margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; font-size: 100%; list-style: none;
}
.ui-djangoForm > ul > li {
    margin: 0; border: 0; outline: 0; line-height: 1.3; font-size: 100%; list-style: none;
    border-bottom:1px solid #ddd;
    padding: 8px 0;
}
.ui-djangoForm ul li label {
    display:block;
    float:left;
    text-align:right;
    width:130px;
    font-size:80%;
    margin:3px 10px 0 0;
}

.ui-djangoForm ul li.ui-djangoForm-action {
    text-align:right;
    background:#f4f4f4;
    border:1px solid #ddd;
    border-width:0 1px 1px 1px;
    padding:8px;
}

/* form.as_table */
.ui-djangoForm table {}
.ui-djangoForm table th {
    margin: 0; border: 0; outline: 0; line-height: 1.3; font-size: 100%;
    text-align:left;
    font-weight:normal;
    padding: 6px 3px;
    background:#f4f4f4;
    border-bottom:2px solid #fff;
    vertical-align:top;
}
.ui-djangoForm table td {
    padding: 6px 3px;
    vertical-align:top;
}
.ui-djangoForm table th label {
    font-size:80%;
    margin-left:10px;
}
.ui-djangoForm table .ui-djangoForm-action {
    text-align:right;
    background:#f4f4f4;
    border:1px solid #ddd;
    padding:8px;
}

ul.errorlist li {
    border:0;
    display:block;
    padding:2px 0 0 0;
    color:#c30;
    font-size:70%;
}
ul ul.errorlist li {
    padding-left:140px;
}

.helptext {
    font-size:70%;
    color:#888;
}
li .helptext {
    margin-left:140px;
    padding:2px 0 0 0;
    display:block;
}
p .helptext {
    padding-left:4px;
}
td .helptext {
    padding:2px 0 0 0;
    display:block;
}
.ui-djangoForm-required label {
    font-weight:bold;
}
.ui-djangoForm-required label:before {
    content:'*';
}
