/* dark theme */

.ui-dropslide.dark li {
}
.ui-dropslide.dark span {
    border:0;
    color:#ccc;
    background:#333;
    font-weight:bold;
    border:1px solid #555;
}
.ui-dropslide.dark span:hover {
    color:#eee;
    background:#333;
    border:1px solid #777;
}
