/* dropslide */
.ui-dropslide {
    background:#ccc;
}
.ui-dropslide ol {
    width:500px;
    padding:0;
    margin:2px 0 0 0;
    clear:both;
    position:absolute;
    height:22px;
}
.ui-dropslide ol ol {
    margin-top:0;
}
.ui-dropslide ol ol li {
    margin-top:7px;
}
.ui-dropslide li {
    float:left;
    list-style:none;
    margin:0;

}
.ui-dropslide span {
    font-size:.7em;
    padding:4px 6px 4px 6px;
    margin:2px 2px 2px 0;
    border:1px solid ButtonShadow;
    background:ButtonFace;
    color:ButtonText;
    text-align:center;
    cursor:pointer;
    -moz-border-radius:3px;
}
.ui-dropslide span:hover,
.ui-dropslide span.hover {
    background:Highlight!important;
    color:HighlightText!important;
}
